body{
  background-color: #9BCACA;
}

header{
  margin-bottom: 35vh;
  color: #0A5555;
}

#title, #subtitle{
  font-weight: normal;
  text-align: center;
}

#talk-button{
  margin: 0 auto;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#talk-button > img{
  transition: 0.25s transform;
}

#talk-button > .dot{
  width: 25px;
  height: 25px;
  margin-top: 25px;
  border-radius: 25px;
  background-color: #0A5555;
  opacity: 0;
  transition: 0.25s opacity;
}

#talk-button.activeMicrophone > img{
  transform: rotate(45deg);
}

#talk-button.activeMicrophone > .dot{
  opacity: 1;
}

#settings{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60vw;
  background-color: #516969;
  overflow: hidden;
  transition: 0.25s left;
  color: #9BCACA;
}

#settings.closed{
  left: -60vw;
}

#settings h2,h3{
  font-weight: normal;
}

#settings hr{
  margin: 25px;
  border: none;
  border-top: 1px solid #9BCACA;
}

#settings input{
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #9BCACA;
  color: #222b2b;
  font-size: 16px;
}

#settings input:focus{
  outline: none;
}

#settings input::placeholder{
  color: #6b8b8b;
}

#settings textarea{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #9BCACA;
  color: #222b2b;
  font-size: 16px;
  width: 80%;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
}

#settings textarea:focus{
  outline: none;
}

#settings textarea::placeholder{
  color: #6b8b8b;
}

#settings-content{
  margin-top: 50px;
  text-align: center;
}

#settings-button{
  position: absolute;
  top: 25px;
  left: 25px;
  color: #516969;
  font-size: 32px;
}

#close-settings-button{
  position: relative;
  top: 25px;
  left: 25px;
  color: #9BCACA;
  font-size: 32px;
}